# Default values for durianlab-frontend

replicaCount: 1

image:
  repository: phamduchongan93/durianlab-consulting
  pullPolicy: IfNotPresent
  tag: "main"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: durianlab.tech
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - durianlab.tech
      secretName: durianlab.tech-tls

resources: {}
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

# Cert-Manager integration (set issuerName to enable TLS provisioning)
certManager:
  issuerName: "letsencrypt-prod"
