name: Build and Push Docker Image

on:
  push:
    branches: [ main, fix-workflow-runner ]
  pull_request:
    branches: [ main, fix-workflow-runner ]

jobs:
  build:
    runs-on: self-hosted
    
    steps:
     - name: Checkout code
       uses: actions/checkout@v3

     - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/durianlab-consulting:latest
          ${{ secrets.DOCKERHUB_USERNAME }}/durianlab-consulting:${{ github.sha }}