name: Deploy Helm Chart
on:
  push:
    branches:
      - '**'
    tags:
      - 'v*'
  pull_request:
    branches:
      - '**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.8.1

       - name: Set up Kubectl
         uses: azure/setup-kubectl@v1
         with:
           version: v1.23.6

       - name: Configure kubectl
         uses: azure/k8s-set-context@v1
         with:
           method: kubeconfig
           kubeconfig: ${{ secrets.KUBE_CONFIG }}

       - name: Verify kubectl
         run: kubectl cluster-info

       - name: Install Helm chart
         run: helm upgrade --install homepage ./helm-chart